<%@tag language="java" description="Overall Page template" pageEncoding="UTF-8"%>
<%@ attribute name="login"  rtexprvalue="true" %>
<html>
<head>
    <style>
        <%@include file="/resources/css/login.css"%>
        body {
            background-image: url("/resources/images/main.jpg");
            background-size: cover;
        }

    </style>

    <title>${title}</title>
</head>
<body>
</body>
</html>